<!DOCTYPE html>
<HTML lang="en">
<HEAD>
    <TITLE>Add Product to Cart</TITLE>
</HEAD>
<BODY>
    <h1>Add Product to Cart</h1>
    <div class="blog-words">
        <span class="blog-text">
            {{ product.product_name }}
        </span>
        <p>
            {{ product.description }}
        </p>
        <span class="price">
            {{ product.price }}
        </span>
        <form method="post" action="/add_order_item/{{ product.id }}">
            <label for="product_id">Product ID:</label>
            <span>{{ product.id }}</span>
            <input type="hidden" name="product_id" value="{{ product.id }}">
            <br>
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity" value="1" min="1" max="10" required>
            <input type="submit" value="Add to Cart">
        </form>
    </div>    
</BODY>
</HTML>


<!--<BODY>
    <h1>Add Product to Cart</h1>
    <form method="post" action="/add_order_item/{{ product_id }}">
        <label for="product_id">Product ID:</label>
        <span>{{ product_id }}</span>
        <input type="hidden" name="product_id" value="{{ product_id }}">
        <br>
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" value="1" required>
        <input type="submit" value="Add to Cart">
    </form>
</BODY>-->


<!--<BODY>
    <h1>Add Product to Cart</h1>
    <form method="post" action="/add_order_item"></form>
    <form action="{{ url_for('all_order_items') }}" method="POST">
        <label for="product_id">Product ID:</label>
        <span>{{ product_id }}</span>
        <input type="hidden" name="product_id" value="{{ product_id }}">
        <br>
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" value="1">
        <input type="submit" value="Add to Cart">
    </form>
</BODY>-->


<!--<body>
    <h1>Add Order Item</h1>
    <form method="post" action="/add_order_item">
        <label for="product_id">Product ID:</label>
        <input type="text" id="product_id" name="product_id" required><br><br>
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" required><br><br>
        <input type="submit" value="Submit">
    </form>
</body>-->
