<!DOCTYPE html>
<HTML lang="en">
<HEAD>
    <TITLE>HBNB</TITLE>
</HEAD>
<BODY>
    <H1>Products</H1>
    <p>User IP Address: {{ user_ip }}</p>
    <UL>
        {% for product in sorted_products %}
        <div class="shirt">
            <div>
               <a href="{{ url_for('add_order_item', product_id=product.id) }}"><img src="../static/images/{{ product.image_url }}" alt=""></a>
            </div>
            <div class="shirt-text">
                <span class="up">
                    {{ product.product_name }}
                </span>
                <span>
                    {{ product.description }}
                </span>
                <span class="money">
                    {{ product.price }}
                </span>
            </div>
        </div>        
        {% endfor %}
    </UL>
    <H1>{{ h_1 }}</H1>
    <UL>
    {% for category in categories %}
        <LI>{{ category[0].id }}: <B>{{ category[0].name }}</B>
        <UL>
            {% for product in category[1] %}
            <LI>{{ product.id }}: <B>{{ product.product_name }}</B></LI>
                {% endfor %}
    </UL>
        </LI>
    {% endfor %}
</UL>
</BODY>
</HTML>



    <!--<BODY>
        <H1>Products</H1>
        <p>User IP Address: {{ user_ip }}</p>
        <UL>
	    {% for product in sorted_products %}
        <div class="shirt">
            <div>
               <a href="single.html"><img src="../static/images/{{ product['image_url'] }}" alt=""></a>
            </div>
            <div class="shirt-text">
            <span class="up">
                {{ product["product_name"] }}
            </span>
            <span>
                {{ product["description"] }}
            </span>
            <span class="money">
                {{ product["price"] }}
            </span>
            </div>
        </div>
	    {% endfor %}
        </UL>
    </BODY>-->
